.git
.git/**/*
node_modules
node_modules/**/*
attached_assets
attached_assets/**/*
server/landing
server/landing/**/*
.expo
.expo/**/*
.expo-shared
.expo-shared/**/*
.local
.local/**/*
.replit
.cache
.cache/**/*
*.log
coverage
coverage/**/*
dist
dist/**/*
build
build/**/*
tmp
tmp/**/*
*.tgz
*.tar.gz
npm-debug.*
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/build
android/app/build/**/*
ios/Pods
ios/Pods/**/*
*.apk
*.ipa
__tests__
__tests__/**/*
