entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["yakut", "zulu"]

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run server:build && npx expo export --platform web --output-dir static-build/web"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["javascript_database:1.0.0", "expo_object_storage:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start dev servers"

[[workflows.workflow]]
name = "Start dev servers"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run all:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[objectStorage]
defaultBucketID = "replit-objstore-0071bde5-4893-4ce1-b3f8-e4cdf1d30dfc"

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "45722118252-g4la4n5j2ne1hlb8idmk11mb0brph55f.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID = "45722118252-m1q83k5cd9hin5ohgptb5go15tlra89g.apps.googleusercontent.com"

